Repository artefactory-skaff/skaff-rag-accelerator: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: black
        name: Formatting (black)
        entry: black
        types: [python]
        language: system
      - id: isort
        name: Sorting imports (isort)
        entry: isort
        types: [python]
        language: system
      - id: ruff
        name: Linting (ruff)
        entry: ruff
        types: [python]
        language: system
      - id: nbstripout
        name: Strip Jupyter notebook output (nbstripout)
        entry: nbstripout
        types: [file]
        files: (.ipynb)$
        language: system
      - id: python-bandit-vulnerability-check
        name: Security check (bandit)
        entry: bandit
        types: [python]
        args: ["-c", "pyproject.toml"]
        language: system
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

add: db storage
  backend/main.py
  backend/model.py
  database/database.sqlite
  database/database_init.sql
  frontend/lib/chat.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add: ignored db
  .gitignore
  database/database.sqlite
Due: none

update modifs
  README.md
  backend/chatbot.py
  backend/config_renderer.py
  backend/embedding.py
  backend/llm.py
  backend/models_config.yaml
  backend/vector_store.py
  requirements.in
  requirements.txt
Due: black, isort, ruff, python-bandit-vulnerability-check

add: rag_components
  backend/backend_.py
  backend/billionaires_csv.csv
  backend/chatbot.py
  backend/config.yaml
  backend/config_renderer.py
  backend/document_loader.py
  backend/rag_components/chat_message_history.py
  backend/rag_components/embedding.py
  backend/rag_components/llm.py
  backend/rag_components/vector_store.py
Due: black, isort, ruff, python-bandit-vulnerability-check

upd: gitignore
  .gitignore
Due: none

modifs memory
  README.md
  backend/chatbot.py
  backend/document_loader.py
  backend/main.py
  backend/model.py
  backend/rag_components/chat_message_history.py
  backend/rag_components/embedding.py
  backend/rag_components/vector_store.py
  database/database_init.sql
  frontend/app.py
  frontend/lib/auth.py
  frontend/lib/chat.py
  notebooks/memory_tests.ipynb
  tests/test_feedback.py
  tests/test_users.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

update comments
  README.md
  backend/chatbot.py
  backend/document_loader.py
  backend/main.py
  notebooks/memory_tests.ipynb
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

vO bot fonctionnel
  backend/chatbot.py
  backend/document_loader.py
  backend/main.py
  backend/rag_components/chat_message_history.py
Due: black, isort, ruff, python-bandit-vulnerability-check

loading langchain document
  backend/_logs.py
  backend/main.py
  backend/rag_components/chat_message_history.py
  backend/rag_components/document_loader.py
  notebooks/docs_loader.ipynb
  notebooks/test_sla.ipynb
  pyproject.toml
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

missing file to commit
  database/database_init.sql
Due: none

rag component
  backend/config.yaml
  backend/main.py
  backend/rag_components/document_loader.py
  backend/rag_components/main.py
Due: black, isort, ruff, python-bandit-vulnerability-check

feat: streaming through API
  backend/chatbot.py
  backend/main.py
  backend/rag_components/chat_message_history.py
  backend/rag_components/llm.py
  backend/rag_components/prompts.py
  database/database_init.sql
  frontend/lib/chat.py
Due: black, isort, ruff, python-bandit-vulnerability-check

upd: use the RAG object
  .gitignore
  backend/config.yaml
  backend/config_renderer.py
  backend/document_store.py
  backend/main.py
  backend/model.py
  backend/rag_components/chain.py
  backend/rag_components/config_renderer.py
  backend/rag_components/document_loader.py
  backend/rag_components/main.py
Due: black, isort, ruff, python-bandit-vulnerability-check

index docs to vector store
  .gitignore
  backend/config.yaml
  backend/main.py
  backend/rag_components/main.py
  notebooks/docs_loader.ipynb
  requirements.in
  requirements.txt
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

upd: minor refactos
  backend/config.yaml
  backend/main.py
  backend/rag_components/chain.py
  backend/rag_components/main.py
  bin/install_with_conda.sh
  bin/install_with_venv.sh
  database/database.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add: logger interface, database pooling
  backend/authentication.py
  backend/config.yaml
  backend/database.py
  backend/db_init.sql
  backend/logger.py
  backend/main.py
  backend/rag_components/chain.py
  backend/rag_components/chat_message_history.py
  backend/rag_components/config_renderer.py
  backend/rag_components/llm.py
  backend/rag_components/logging_callback_handler.py
  backend/rag_components/main.py
  backend/user_management.py
  database/database.py
  tests/test_feedback.py
  tests/test_users.py
Due: black, isort, ruff, python-bandit-vulnerability-check

upd: better config handling
  backend/config.py
  backend/config.yaml
  backend/main.py
  backend/rag_components/chain.py
  backend/rag_components/chat_message_history.py
  backend/rag_components/config_renderer.py
  backend/rag_components/embedding.py
  backend/rag_components/llm.py
  backend/rag_components/main.py
  backend/rag_components/vector_store.py
Due: black, isort, ruff, python-bandit-vulnerability-check

upd: differenciated async and streaming
  backend/config.yaml
  backend/main.py
  backend/rag_components/chain.py
  backend/rag_components/prompts.py
  backend/rag_components/rag.py
  backend/rag_components/streaming_callback_handler.py
  lel.py
  notebooks/docs_loader.ipynb
  notebooks/memory_tests.ipynb
  notebooks/test_auth.ipynb
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

upd: migrated to lcel
  backend/config.py
  backend/config.yaml
  backend/database.py
  backend/main.py
  backend/rag_components/chain.py
  backend/rag_components/chat_message_history.py
  backend/rag_components/llm.py
  backend/rag_components/rag.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: missing reqs
  requirements.in
  requirements.txt
Due: none

fix: missing reqs (#7)
  requirements.in
  requirements.txt
Due: none

fix: mysql + postgres integrations
  backend/authentication.py
  backend/database.py
  backend/db_init.sql
  backend/user_management.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: typo and datatime type issue
  backend/config.py
  backend/config.yaml
  backend/model.py
  backend/rag_components/chain.py
Due: black, isort, ruff, python-bandit-vulnerability-check

doc: add mkdocs
  docs/cookbook.md
  docs/index.md
  docs/loading_documents.md
  docs/rag_architecture.png
  docs/rag_config.md
  docs/rag_object.md
  docs/recipe_databases_configs.md
  docs/recipe_embedding_models_configs.md
  docs/recipe_llms_configs.md
  docs/recipe_vector_stores_configs.md
  mkdocs.yml
Due: none

add: local llama recipe
  backend/config.py
  backend/config.yaml
  backend/main.py
  docs/recipe_llms_configs.md
Due: black, isort, ruff, python-bandit-vulnerability-check

upd: hooks
  .pre-commit-config.yaml
  pyproject.toml
  requirements.in
Due: none

refacto: linting
  README.md
  backend/config.py
  backend/config.yaml
  backend/database.py
  backend/logger.py
  backend/main.py
  backend/model.py
  backend/rag_components/chain.py
  backend/rag_components/embedding.py
  backend/rag_components/llm.py
  backend/rag_components/logging_callback_handler.py
  backend/rag_components/prompts.py
  backend/rag_components/rag.py
  backend/rag_components/streaming_callback_handler.py
  docs/cookbook.md
  docs/index.md
  docs/loading_documents.md
  docs/rag_config.md
  docs/rag_object.md
  docs/recipe_databases_configs.md
  docs/recipe_embedding_models_configs.md
  docs/recipe_llms_configs.md
  docs/recipe_vector_stores_configs.md
  frontend/lib/sidebar.py
  mkdocs.yml
  requirements.txt
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: missing mkdoc plugin
  requirements.in
  requirements.txt
Due: none

fix: mkdocs unused plugins
  .github/workflows/deploy_docs.yaml
  mkdocs.yml
Due: none

del: archi from readme
  README.md
Due: none

doc: clarifications
  README.md
Due: none

upd: linting
  Makefile
  data_sample/add_data_sample_to_rag.py
  requirements.in
Due: black, isort, ruff, python-bandit-vulnerability-check

doc: updated index with new gifs
  docs/index.md
Due: none

upd: ignored .streamlit
  .gitignore
  .streamlit/config.toml
Due: none

doc: more archi diagrams
  docs/3t_architecture.png
  docs/architecture.png
  docs/index.md
  docs/rag_architecture.png
Due: none

upd: langchain 0.1.0
  .gitignore
  backend/rag_components/chat_message_history.py
  backend/rag_components/embedding.py
  backend/rag_components/llm.py
  backend/rag_components/vector_store.py
  requirements.in
  requirements.txt
Due: black, isort, ruff, python-bandit-vulnerability-check

doc: add postgres vector store config
  docs/recipe_vector_stores_configs.md
Due: none

fix: memory not working
  backend/main.py
  docs/recipe_vector_stores_configs.md
Due: black, isort, ruff, python-bandit-vulnerability-check
