Repository artefactory-skaff/skaff-rag-accelerator: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

black:
  name: Formatting (black)
  entry: black
  language: system

isort:
  name: Sorting imports (isort)
  entry: isort
  language: system

ruff:
  name: Linting (ruff)
  entry: ruff
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -c
  - pyproject.toml
  language: system

make it work
  .env.template
  Makefile
  backend/__init__.py
  backend/config.yaml
  backend/ingest.py
  backend/main.py
  backend/rag_components/chain_links/documented_runnable.py
  backend/rag_components/chain_links/rag_basic.py
  poetry.lock
  pyproject.toml
Due: black, isort, ruff, python-bandit-vulnerability-check

✨ add label in sidebar
  backend/api_plugins/sessions/sessions.py
  frontend/lib/sidebar.py
Due: black, isort, ruff, python-bandit-vulnerability-check

:pencil2: update URLs
  .skaff/skaff.yaml
  README.md
  backend/main.py
  docs/index.md
  frontend/front.py
  pyproject.toml
Due: black, isort, ruff, python-bandit-vulnerability-check

Add docdantic to backend requirements.txt
  backend/requirements.txt
Due: none

Fix docker-compose command in README
  README.md
Due: none

Add openai to requirements.txt
  backend/requirements.txt
Due: none

:bug: fix pydantic error in rag_basic
  backend/rag_components/chain_links/rag_basic.py
Due: black, isort, ruff, python-bandit-vulnerability-check

Add ANN (annotations) in Ruff config
  pyproject.toml
Due: none

Add pyupgrade in ruff config
  pyproject.toml
Due: none

Add pydocstyle in Ruff config
  pyproject.toml
Due: none

Update Ruff config
  pyproject.toml
Due: none

Add ruff and nbstripout as pre-commit hooks
  .pre-commit-config.yaml
Due: none

Update CI workflow
  .github/workflows/ci.yaml
Due: none

enh: doc theme
  .github/workflows/deploy_docs.yaml
  docs/images/favicon.svg
  docs/images/logo.svg
  docs/stylesheets/skaff.css
  examples/load_documents.ipynb
  load_documents.ipynb
  mkdocs.yml
  requirements-dev.txt
Due: nbstripout

fix: update deprecated packages
  README.md
  backend/Dockerfile
  backend/config.py
  backend/config.yaml
  backend/rag_components/chain_links/documented_runnable.py
  backend/rag_components/chain_links/rag_basic.py
  backend/rag_components/embedding.py
  backend/rag_components/llm.py
  backend/rag_components/rag.py
  backend/rag_components/vector_store.py
  backend/requirements.txt
  docker-compose.yaml
  docs/images/favicon.svg
  docs/images/logo.svg
  docs/stylesheets/skaff.css
  frontend/front.py
  frontend/requirements.txt
  load_documents.ipynb
  mkdocs.yml
  requirements-dev.txt
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

chore: change the Openai api key to generic
  README.md
  backend/Dockerfile
  docker-compose.yaml
Due: none

Path conditions:
  black: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  isort: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
