Repository artefactory-skaff/skaff-rag-accelerator: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

black:
  name: Formatting (black)
  entry: black
  language: system

isort:
  name: Sorting imports (isort)
  entry: isort
  language: system

ruff:
  name: Linting (ruff)
  entry: ruff
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -c
  - pyproject.toml
  language: system

fix: hooks & CI
  .pre-commit-config.yaml
  backend/config.py
  backend/database.py
  backend/main.py
  backend/rag_components/chain.py
  backend/rag_components/chat_message_history.py
  backend/rag_components/document_loader.py
  backend/rag_components/prompts.py
  backend/rag_components/rag.py
  backend/rag_components/streaming_callback_handler.py
  frontend/lib/chat.py
  frontend/lib/sidebar.py
  pyproject.toml
  tests/test_feedback.py
  tests/test_users.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add: skaff catalog entry
  catalog-info.yaml
Due: none

fix: catalog entity name
  catalog-info.yaml
Due: none

doc: explicit tell to activate the vertex APis
  docs/recipe_llms_configs.md
Due: none

doc: added embedding recipes
  README.md
  docs/cookbook.md
  docs/index.md
  docs/recipe_databases_configs.md
  docs/recipe_embedding_models_configs.md
  docs/recipe_llms_configs.md
  docs/recipe_vector_stores_configs.md
Due: none

doc: add usability disclaimer for gemini
  docs/recipe_llms_configs.md
Due: none

upd: security improvements
  backend/authentication.py
  backend/main.py
  backend/user_management.py
  requirements.in
Due: black, isort, ruff, python-bandit-vulnerability-check

doc: updated security statement with user auth
  README.md
  docs/index.md
Due: none

fix: removed linebreaks in prompts
  backend/rag_components/prompts.py
Due: black, isort, ruff, python-bandit-vulnerability-check

chore: linting and formatting
  backend/user_management.py
  catalog-info.yaml
  docs/cookbook.md
  docs/recipe_embedding_models_configs.md
  docs/recipe_llms_configs.md
  requirements.in
Due: black, isort, ruff, python-bandit-vulnerability-check

chore: linting
  backend/rag_components/prompts.py
Due: black, isort, ruff, python-bandit-vulnerability-check

doc: brokenGH pages urls
  README.md
  docs/index.md
Due: none

fix: ironed out auth UX
  backend/main.py
  frontend/app.py
  frontend/lib/auth.py
  frontend/lib/backend.py
  frontend/lib/chat.py
  frontend/lib/sidebar.py
Due: black, isort, ruff, python-bandit-vulnerability-check

refacto: linting
  backend/main.py
  frontend/lib/backend.py
  frontend/lib/chat.py
  frontend/lib/sidebar.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: postgres auth
  backend/user_management.py
Due: black, isort, ruff, python-bandit-vulnerability-check

upd: improved login/signup with messages
  backend/user_management.py
  frontend/app.py
  frontend/lib/auth.py
  frontend/lib/backend.py
Due: black, isort, ruff, python-bandit-vulnerability-check

upd: admin mode to enable singup
  README.md
  backend/main.py
  docs/admin_mode.md
  docs/index.md
  frontend/lib/auth.py
  mkdocs.yml
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: feedbacks
  frontend/lib/chat.py
  frontend/lib/sidebar.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: timestamps
  backend/main.py
  frontend/lib/chat.py
  frontend/lib/sidebar.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add: init V2: langserve + composable API
  backend/api_plugins/__init__.py
  backend/api_plugins/insecure_authentication.py
  backend/api_plugins/lib/user_management.py
  backend/api_plugins/secure_authentication.py
  backend/api_plugins/sessions.py
  backend/database.py
  backend/db_init.sql
  backend/main.py
  backend/model.py
  backend/rag_components/chain.py
  backend/rag_components/chat_message_history.py
  backend/rag_components/logging_callback_handler.py
  backend/rag_components/prompts.py
  backend/rag_components/rag.py
  backend/rag_components/streaming_callback_handler.py
  docs/admin_mode.md
  frontend/lib/auth.py
  frontend/lib/chat.py
  mkdocs.yml
Due: black, isort, ruff, python-bandit-vulnerability-check

doc: added high-level explainations
  backend/database.py
  backend/main.py
Due: black, isort, ruff, python-bandit-vulnerability-check

doc: readme
  README.md
Due: none

chore: linting
  backend/__init__.py
  backend/api_plugins/insecure_authentication/insecure_authentication.py
  backend/api_plugins/secure_authentcation/secure_authentication.py
  backend/api_plugins/sessions/sessions.py
  docs/backend/backend.md
  docs/backend/plugins/conversational_rag_plugin.md
  docs/backend/plugins/user_based_sessions.md
  docs/backend/rag_ragconfig.md
  docs/database.md
  docs/frontend.md
  docs/getting_started.md
  frontend/__init__.py
  frontend/front.py
  frontend/lib/backend_interface.py
  frontend/lib/basic_chat.py
  frontend/lib/session_chat.py
  frontend/lib/streamlit_helpers.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: readme images
  README.md
Due: none

fix: doc
  mkdocs.yml
Due: none

fox: doc
  mkdocs.yml
Due: none

fix: doc
  docs/index.md
  mkdocs.yml
Due: none

fix: doc
  docs/backend/RAG.png
  docs/backend/backend.md
  docs/backend/backend.png
  docs/backend/base_api.png
  docs/backend/base_invoke.png
  docs/backend/base_playground.png
  docs/backend/playground.png
  docs/backend/plugins/auth_api.png
  docs/backend/plugins/auth_invoke.png
  docs/backend/plugins/authentication.md
  docs/backend/plugins/conversational_rag_plugin.md
  docs/backend/plugins/plugins.md
  docs/backend/plugins/sec_auth_api.png
  docs/backend/plugins/sessions.md
  docs/backend/plugins/sessions_api.png
  docs/backend/plugins/sessions_playground.png
  docs/backend/plugins/user_based_sessions.md
  docs/backend/rag_ragconfig.md
  docs/backend/swagger_base.png
  docs/cookbook/configs/databases_configs.md
  docs/cookbook/configs/embedding_models_configs.md
  docs/cookbook/configs/llms_configs.md
  docs/cookbook/configs/vector_stores_configs.md
  docs/cookbook/cookbook.md
  docs/cookbook/extend_ragconfig.md
  docs/cookbook/loading_documents.md
  docs/deployment/admin_mode.md
  mkdocs.yml
Due: none

fix: doc
  docs/deployment/admin_mode.md
  mkdocs.yml
Due: none

fix: doc
  docs/backend/RAG.png
  docs/backend/backend.md
  docs/backend/backend.png
  docs/backend/base_api.png
  docs/backend/base_invoke.png
  docs/backend/base_playground.png
  docs/backend/playground.png
  docs/backend/plugins/auth_api.png
  docs/backend/plugins/auth_invoke.png
  docs/backend/plugins/authentication.md
  docs/backend/plugins/conversational_rag_plugin.md
  docs/backend/plugins/plugins.md
  docs/backend/plugins/sec_auth_api.png
  docs/backend/plugins/sessions.md
  docs/backend/plugins/sessions_api.png
  docs/backend/plugins/sessions_playground.png
  docs/backend/plugins/user_based_sessions.md
  docs/backend/rag_ragconfig.md
  docs/backend/swagger_base.png
Due: none

fix: doc
  docs/cookbook/configs/databases_configs.md
  docs/cookbook/configs/embedding_models_configs.md
  docs/cookbook/configs/llms_configs.md
  docs/cookbook/configs/vector_stores_configs.md
  docs/cookbook/cookbook.md
  docs/cookbook/extend_ragconfig.md
  docs/cookbook/loading_documents.md
  mkdocs.yml
Due: none

upd: docker deployment + chain links + DocumentedRunnable
  README.md
  backend/Dockerfile
  backend/api_plugins/__init__.py
  backend/api_plugins/secure_authentication/secure_authentication.py
  backend/api_plugins/secure_authentication/users_tables.sql
  backend/config.py
  backend/config.yaml
  backend/main.py
  backend/rag_components/chain.py
  backend/rag_components/chain_links/answer_question_from_docs_and_history.py
  backend/rag_components/chain_links/condense_question.py
  backend/rag_components/chain_links/documented_runnable.py
  backend/rag_components/chain_links/rag_basic.py
  backend/rag_components/chain_links/rag_with_history.py
  backend/rag_components/chain_links/retrieve_and_format_docs.py
  backend/rag_components/chat_message_history.py
  backend/rag_components/prompts.py
  backend/rag_components/rag.py
  backend/rag_components/retriever.py
  backend/requirements.txt
  docker-compose.yaml
  docs/backend/chains/basic_chain.md
  docs/backend/chains/chain_with_memory.md
  docs/backend/chains/chains.md
  docs/database.md
  docs/doc_generation.py
  docs/index.md
  frontend/Dockerfile
  frontend/requirements.txt
  mkdocs.yml
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: ci reqs
  .github/workflows/ci.yaml
Due: none

upd: documented runnable improvements
  backend/rag_components/chain_links/answer_question_from_docs_and_history.py
  backend/rag_components/chain_links/condense_question.py
  backend/rag_components/chain_links/documented_runnable.py
  backend/rag_components/chain_links/rag_basic.py
  docs/backend/chains/basic_chain.md
  docs/backend/chains/chain_with_memory.md
  docs/doc_generation.py
Due: black, isort, ruff, python-bandit-vulnerability-check

doc: add document loading notebook example
  README.md
  backend/config.yaml
  backend/main.py
  backend/rag_components/rag.py
  data_sample/add_data_sample_to_rag.py
  docs/cookbook/configs/llms_configs.md
  docs/index.md
  examples/billionaires.csv
  examples/load_documents.ipynb
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

Create skaff.yaml
  .skaff/skaff.yaml
Due: none

Path conditions:
  black: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  isort: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
